@model AppergerWeb.Models.Tratamiento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Esta seguro de eliminar el tratamiento?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Paciente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.sUsuario)
        </dd>
        <dt>
            @Html.DisplayName("Fecha de Inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaInicio)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaFin)
        </dd>

        <dt>
            @Html.DisplayName("Actividad Selfie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bSelfie)
        </dd>

        <dt>
            @Html.DisplayName("Actividad Imagen")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bImagen)
        </dd>

        <dt>
            @Html.DisplayName("Actividad Video")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bVideo)
            
        </dd>





    </dl>
   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
   
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-success" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
