@model IEnumerable<AppergerWeb.Models.Tratamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive Datatable table-striped table-bordered table" >
    <thead>
        <tr>
            <th>
                Paciente
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            
            <th>
               Imagen
            </th>
            <th>
              Video
            </th>
          
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.sUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dFechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dFechaFin)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ImagenTratamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoTratamiento)
                </td>
               
              
                <td>
                    <a href="@Url.Action("CrearEditarUsuario", "web", new { nUsuarioId=item.usuario })"> <i class="fas fa-user-edit"></i></a>
                    <a href="@Url.Action("borrar ", "web", new { id=item.usuario })"> <i class="fas fa-trash-alt text-danger"></i></a>

                </td>
            </tr>

        }
    </tbody>

</table>
