@model AppergerWeb.Models.VideoTratamiento

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>Agregar video al tratamiento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.nIdTratamiento, "nIdTratamiento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("nIdTratamiento", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nIdTratamiento, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.nIdVideo, "Video", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nIdVideo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nIdVideo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Regresar", "Index", new { tratamientoId = ViewBag.tratamientoId })
    </div>
