@model IEnumerable<AppergerWeb.Models.VideoTratamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video para tratamiento de @ViewBag.Usuario</h2>

<p>
    @Html.ActionLink(" Agregar Video ", "Create", new { tratamientoId = ViewBag.tratamientoId }, new { @class = "btn btn-info btn-sm " })
    @*@Html.ActionLink("  Seleccionar Video", "Create", new { tratamientoId = ViewBag.tratamientoId }, new { @class = "fas fa-plus-square" })*@
</p>

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>Url</th>
        <th>
            @Html.DisplayNameFor(model => model.Tratamiento.Categoria)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Video.sDescripcion)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.Video.sVideo) target="_blank">@Html.DisplayFor(modelItem => item.Video.sVideo)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video.Categoria.sDescripcion)
            </td>
            <td>

                <a href="@Url.Action("Delete",  "VideoTratamiento", new {  id = item.nIdVideoTra, tratamientoId = item.nIdTratamiento })"> <i class="fas fa-trash-alt text-danger"></i></a>
                
            </td>
        </tr>
    }

</table>
