@model IEnumerable<AppergerWeb.Models.ImagenTratamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Imagenes para tratamiento de @ViewBag.Usuario</h2>

<p>
    @Html.ActionLink("  Seleccionar Imagen", "Create", new {tratamientoId = ViewBag.tratamientoId },new { @class = "fas fa-plus-square"})
</p>
<
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>Imagen</th>
        <th>
            @Html.DisplayNameFor(model => model.Tratamiento.Categoria)
        </th>
        <th>Accion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen.sDescripcion)
        </td>
        <td>
          <img  src=@Html.DisplayFor(modelItem => item.Imagen.sImagen) height="70px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tratamiento.Categoria)
        </td>
        <td>
           
        
            @Html.ActionLink("Eliminar", "Delete", new { id=item.nIdImagenTra, tratamientoId = item.nIdTratamiento })
        </td>
    </tr>
}

</table>
