@model IEnumerable<AppergerWeb.Models.ImagenTratamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Imagenes para tratamiento de @ViewBag.Usuario</h2>

<p>
    @Html.ActionLink(" Agregar Imagen ", "Create",  new { tratamientoId = ViewBag.tratamientoId }, new { @class = "btn btn-info btn-sm " })
    @*@Html.ActionLink("  Seleccionar Imagen", "Create", new { tratamientoId = ViewBag.tratamientoId }, new { @class = "fas fa-plus-square" })*@
</p>

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>Imagen</th>
        <th>
            @Html.DisplayNameFor(model => model.Tratamiento.Categoria)
        </th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen.sDescripcion)
        </td>
        <td>
          <img  src=@Html.DisplayFor(modelItem => item.Imagen.sImagen) height="70px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen.Categoria.sDescripcion)
        </td>
        <td>
           
            <a href="@Url.Action("Delete",  "ImagenTratamiento", new {  id = item.nIdImagenTra, tratamientoId = item.nIdTratamiento })"> <i class="fas fa-trash-alt text-danger"></i></a>
        
        </td>
    </tr>
}

</table>
