@model IEnumerable<AppergerWeb.Models.usuario>

@{
    if (Session["sessionLogin"] == null) { Response.Redirect("login"); }
    ViewBag.Title = "ListadoPacientes";
    Layout = null;

}


<table class="table dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sUsuario)
        </th>
               <th>
            @Html.DisplayNameFor(model => model.sNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nEdad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dFechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sProvincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sCiudad)
        </th>
       
        <th style="width:100px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sUsuario)
        </td>
               <td>
            @Html.DisplayFor(modelItem => item.sNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nEdad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dFechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sProvincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sCiudad)
        </td>
              
        <td style="width:100px;">

           <a href="@Url.Action("CrearEditarUsuario", "web", new { nUsuarioId=item.nIdUsuario })"> <i class="fas fa-user-edit"></i></a>
            <a href="@Url.Action("borrar ", "web", new { id=item.nIdUsuario })"> <i class="fas fa-trash-alt text-danger"></i></a>
            
        </td>
    </tr>
}

</table>
