@model AppergerWeb.Models.Tratamiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dFechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dFechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dFechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bSelfie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bSelfie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bImagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.sUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.sUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.sUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.sUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nIdTratamiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
