@model AppergerWeb.Models.Video

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta segure de eliminar este video?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Url")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sVideo)
        </dd>
        <dt>
            @Html.DisplayName("Inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nInicio)
        </dd>
        <dt>
            @Html.DisplayName("Fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nFin)
        </dd>
        <dt>
            @Html.DisplayName("Descrpción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sDescripcion)
        </dd>

        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.sDescripcion)
        </dd>

    </dl>
    <h8 class="text-danger"> @ViewBag.ErrorVideo</h8>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-success " /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
