@model IEnumerable<AppergerWeb.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sVideo)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sVideo)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.nIdVideo }) |
            @Html.ActionLink("Details", "Details", new { id = item.nIdVideo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.nIdVideo })
     


        </td>
    </tr>
    }

</table>
