@model IEnumerable<AppergerWeb.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>

<p>
   
    @Html.ActionLink(" Agregar Video  ", "Create", "web",  new { @class = "btn btn-info btn-sm " })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayName("Url")
        </th>
        
        <th> @Html.DisplayName("Acciones")</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.sDescripcion)
        </td>
        <td>
            <a href=@Html.DisplayFor(modelItem => item.sVideo) target="_blank">@Html.DisplayFor(modelItem => item.sVideo)</a>
        </td>
      
        <td>
    
        
            <a href="@Url.Action("Edit", "video", new {  id = item.nIdVideo  })"><i class="far fa-edit"></i></a>

            <a href="@Url.Action("Delete",  "video", new {  id = item.nIdVideo  })"> <i class="fas fa-trash-alt text-danger"></i></a>

        


        </td>
    </tr>
    }

</table>
