@model IEnumerable<AppergerWeb.Models.Imagen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.sDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sImagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.sDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sImagen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nIdImagen }) |
            @Html.ActionLink("Details", "Details", new { id=item.nIdImagen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nIdImagen })
        </td>
    </tr>
}

</table>
