@model IEnumerable<AppergerWeb.Models.Imagen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Imagenes</h2>

<p>

    @Html.ActionLink(" Agregar imagen  ", "Create", "web", new { @class = "btn btn-info btn-sm " })
</p>
<div class="table table-striped table-bordered table-responsive" style="width:100%">

    <table class="table dataTable table-bordered">
        <tr>

            <th>
                Emoción
            </th>
            <th>
                Descripción
            </th>
            <th>
               Imagen
            </th>
            <th>Acción</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.sDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.sDescripcion)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.sImagen)" height="70px" />
                </td>
                <td>
             
                    <a href="@Url.Action("Edit", "imagen", new {  id = item.nIdImagen  })"><i class="far fa-edit"></i></a>

                    <a href="@Url.Action("Delete",  "imagen", new {  id = item.nIdImagen  })"> <i class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }

    </table>
    </div>